<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.univ_setif.fsciences.qcm">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/MyTheme">
        <activity
            android:name=".MainMenu"

            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MCQManager"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MCQEditor"
            android:screenOrientation="portrait" android:noHistory="true" />
        <activity
            android:name=".Session"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ShowCorrection"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MCQmanage"
            android:screenOrientation="portrait"  />
        <activity
            android:name=".ADDMCQ"
            android:screenOrientation="portrait"
            android:theme="@style/Dialogtheme" />
        <activity android:name=".MCQEdito"></activity>
    </application>

</manifest>